.App {
  text-align: center;
  background-color: rgb(45, 15, 45);
}

::placeholder{
  color: #887a9b92;
  font-style: italic;
}

#Logo{
    cursor: pointer;
}

#logopad{
  box-shadow: 15px 15px 8px rgb(0, 0, 0);
  cursor: default;
}

#header{
  color: rgb(255, 255, 255);
  background-color: rgba(27, 0, 27, 0.938);
  /* height: 50%; */
  padding: 4.5%;
  position:fixed;
  width: 92vw;
  z-index: 1;
  
}

#inline{
  display: flex;
  align-items: center;
  
}

#searchpadding{
  margin-left: 10px;
  flex: 1;
}

#searchbar{
  
  font-family: Arial, Helvetica, sans-serif;
  width: 700px;
  color: black;
  background-color: rgb(226, 245, 255);
  text-align: left;
  font-size: 36px;
  border-radius: 10px;
  /* margin-right: 52px; */
  font-weight: 400;
  box-shadow: 2.5px 2.5px 8px rgb(108, 89, 170);
  height: 56px;
  text-indent: 5px;
}

#cardholder {
  display: grid;
  grid-template-columns: repeat(3, 500px);
  justify-items: center;
  padding-top: 280px;
  border-radius: 100%;
  padding-bottom: 30px;
  min-height: 500px;
}

#cell{
  background-color: rgb(112, 55, 219);
  border-radius: 5px;
  margin-bottom: 15px;
  height: fit-content;
  
}

#cell:hover{
  filter: drop-shadow(0 0 0.75rem rgb(129, 108, 197));
  transition: all 15s ease-in;
  cursor: pointer;
  transform: scale(1.01);
  transition: transform 0.2s ease-in;

}

#cardImage{
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.greenButton{
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 89px;
}

.greenButton:hover{
  transform: scale(1.01)
}

#signinorout{
  margin-right: 45px;
}

#signin:hover{
  background-color: #3e8e41;
  transform: scale(1.01)
}

/* Dropdown Button */
.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 45px;

}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 5px;
  cursor: pointer;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius: 5px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}

/* CARD */
#cardAll{
  color: #cacff4
}

#remove{
  background-color: rgba(255, 255, 255, 0.43);
  border: groove;
  border-color: #00000080;
  border-radius: 50px;
  border-width: 1px;
  margin-bottom: 5px;
  filter:invert()
}

#remove:hover{
  border-color: red;
  border-width: 1.25px;
  transform: scale(1.1);
  cursor: pointer;
}



/* DETAILS PAGE */
#detailsAll{
  color: #cacff4;
  padding-bottom: 100px;
  padding-top: 50px;
}

#detailsArtist{
  cursor: pointer;
}

/* POST */

#postAll{
  color:rgb(226, 245, 255);
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  min-height: 1000px;
}

#postForm{
  display: grid;
  margin-top: 200px;
  margin-bottom: 100px;
}

.postLabel{
  margin-bottom: 5px;
}

#postHome{
  position: absolute;
  margin-top: 50px ;
}

#postHome:hover{
  transform: scale(1.01);
}

#postImage{
  margin-bottom: 20px;
  height: 35px;
  font-size: large;
}

#postName{
  margin-bottom: 20px;
  height: 35px;
  font-size: large;
}

#postTitle{
  margin-bottom: 20px;
  height: 35px;
  font-size: large;
}

#postMedium{
  margin-bottom: 20px;
  height: 35px;
  font-size: large;
}

#postPriceSelector{
  margin-bottom: 10px;
  height: 35px;
  font-size: large;
}

#postPriceSelector:hover{
cursor: pointer;
}

#postPriceSelectorSet{
  margin-bottom: 30px;
  height: 35px;
  font-size: large;
}

#setPriceDiv{
  display: grid;
  margin-bottom: 20px;
}

#postContact{
  height: 35px;
  font-size: large;
}

#postSize{
  height: 35px;
  font-size: large;
}

#postDescription{
height: 100px;
font-family: Arial;
margin-bottom: 20px;
font-size: larger;
}

#postTags{
  height: 35px;
  font-size: large;
  margin-bottom: 5px;
}

#postTagsClearer{
  margin-top: 2px;
  margin-bottom: 20px;
}

#postTagsAdder:hover{
  cursor: pointer;
  transform: scale(1.01)
}

#postSubmit:hover{
  cursor: pointer;
  transform: scale(1.01)
}

#willBeEmail{
  color: lightsalmon
}

/* SIGN IN */

#signInAll{
  color:rgb(226, 245, 255);
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  min-height: 100vh;
  align-items: baseline;
}

 #signInHome{
  position: absolute;
  margin-top: 50px ;
  
} 

#signInHome:hover{
  transform: scale(1.006);
}

#signInForm{
  display: grid;
  margin-top: 40px;
  margin-bottom: 100px;
  justify-items: center;
}

#signInUsernameLabel{
margin-top: 150px;
}

#signInUsername{
  width: 406px;
  height: 20px;
  font-size:x-large;
  margin-bottom: 15px;
}

#signInPassword{
  width: 406px;
  height: 20px;
  font-size:x-large;
}

#signInButton{
margin-top: 10px;
width: 150px;
text-align: center;
}

#signInButton:hover{
  cursor: pointer;
  transform: scale(1.02);
}

#emailLink{
  color: #a1a7d6
}

#signUpSpacer{
  margin-top: 10px;
}

#signUpLink{
  color:rgb(129, 108, 197);
  text-decoration: underline;
}

#signUpLink:hover{
  cursor: pointer;
}

/* PROFILE */

#profileAll{
  background-color: rgb(45, 15, 45);
  padding-top: 50px;
}

#cardholder2 {
  display: grid;
  grid-template-columns: repeat(3, 500px);
  justify-items: center;
  border-radius: 100%;
  padding-bottom: 30px;
  min-height: 500px;
}

#profileBio{
  color:  #a1a7d6;
  max-width: 100vw;
}

/* SIGN UP */
#signUpAll{
  color:rgb(226, 245, 255);
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  min-height: 100vh;
  align-items: baseline;
}

 #signUpHome{
  position: absolute;
  margin-top: 50px ;
} 

#signUpHome:hover{
  transform: scale(1.01);
}

#signUpForm{
  display: grid;
  margin-top: 40px;
  margin-bottom: 100px;
  justify-items: center;
}

#signUpNameLabel{
  margin-top: 150px;
}

#signUpName{
  width: 406px;
  height: 20px;
  font-size:x-large;
  margin-bottom: 15px;
}

#signUpEmailLabel{
  font-size: medium;
}

#signUpEmail{
  width: 406px;
  height: 20px;
  font-size:x-large;
  margin-bottom: 15px;
}
/* 
#signUpUsernameLabel{
margin-top: 150px;
} */

#signUpUsername{
  width: 406px;
  height: 20px;
  font-size:x-large;
  margin-bottom: 15px;
}

#signUpPassword{
  width: 406px;
  height: 20px;
  font-size:x-large;
}

#signUpButton{
margin-top: 10px;
width: 150px;
text-align: center;
}

#signUpButton:hover{
  cursor: pointer;
  transform: scale(1.02);
}

/* My account */

#myAccountAll{
  background-color: rgb(45, 15, 45);
  padding-top: 50px;
  min-height: 100vh;
}

#myAccountBio{
  color:  #a1a7d6;
  max-width: 100vw;
}

#cardholder3{
  display: grid;
  grid-template-columns: repeat(3, 500px);
  justify-items: center;
  border-radius: 100%;
  padding-bottom: 30px;
  min-height: 500px;
}

#myAccountNoPosts{
  color: white;
}

#makePost{
  width: 200px;
  margin-right: 0;
  box-shadow: 0.5px 0.5px 8px rgba(145, 127, 202, 0.662);
}

#makePost:hover{
  transform: scale(1.01);
}

/* SETTINGS */

#settingsAll{
  background-color: rgb(45, 15, 45);
  padding-top: 50px;
  min-height: 100vh;
  color: white;
  justify-content: center;
}

#settingsButtonsContainer{
  display: grid;
  justify-content: center;
  justify-items: center;
  margin-top: 50px;
}

#settingsUsernameChange{
  width:176.91px;
  margin-bottom: 20px;
}

#settingsEmailChange{
  width:176.91px;
  margin-bottom: 20px;
}

#settingsBioChange{
  width:176.91px;
  margin-bottom: 20px;
}

#deleteAccountButton{
  width: 176.91px;
  margin-top: 100px;
  margin-bottom: 10px;
  background-color: red;
  color: rgb(45, 15, 45)
}

#deleteAccountContainer{
  justify-content: center;
  display: flex;
  
}

#deleteAccountLabel{
  position: absolute;
  font-size: 20px;
}

#deleteAccount{
  margin-top: 25px;
  width: 406px;
  height: 20px;
  font-size:x-large;
}

#showPasswordContainer{
margin-top: 20px;
}

/* #showPasswordLabel{
  margin-right: 100px;
} */

/* #updateSubmit{
  width: 300px;
  height: 50px;
  margin-right: 0;
  margin-left: 65px;
  margin-top: 10px;
  margin-bottom: 15px;
  box-shadow: 0.5px 0.5px 8px rgba(145, 127, 202, 0.662);
} */
/* 
#updateSubmit:hover{
  transform: scale(1.01);
} */



/* UPDATE */

#updateAll{
  background-color: rgb(45, 15, 45);
  padding-top: 50px;
  min-height: 100vh;
}

