.App {
  text-align: center;
  background-color: rgb(45, 15, 45);
}

::placeholder{color: #887a9b92}


#logopad{
  box-shadow: 15px 15px 8px rgb(0, 0, 0);
}

#header{
  color: rgb(255, 255, 255);
  background-color: rgb(27, 0, 27);
  height: 50%;
  padding: 5.3%;
  position:static;
  
}

#inline{
  display: flex;
  align-items: center;
  
}

#searchpadding{
  margin-left: 10px;
  flex: 1;
}

#searchbar{
  
  font-family: Arial, Helvetica, sans-serif;
  width: 800px;
  color: black;
  background-color: rgb(226, 245, 255);
  text-align: left;
  font-size: 36px;
  border-radius: 10px;
  margin-right: 10px;
  font-weight: 400;
  box-shadow: 2.5px 2.5px 8px rgb(108, 89, 170);
  height: 56px;

}

#cardholder {
  display: grid;
  grid-template-columns: repeat(3, 500px);
  justify-items: center;
  padding-top: 15px;
  border-radius: 100%;
  /* margin-bottom: 50px; */ 
  padding-bottom: 30px;
  min-height: 500px;
  
}

#cell{
  background-color: rgb(112, 55, 219);
  border-radius: 5px;
  margin-bottom: 15px;
  height: fit-content;
  
}

#cell:hover{
  filter: drop-shadow(0 0 0.75rem rgb(129, 108, 197));
  transition: all 15s ease-in;
  cursor: pointer;
  transform: scale(1.01);
  transition: transform 0.1s ease-in;

}

#cardImage{
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#signin{
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 89px;
}

/* Dropdown Button */
.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 5px;
  cursor: pointer;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius: 5px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}

/* CARD */
#cardAll{
  color: #cacff4
}

#remove{
  background-color: rgba(255, 255, 255, 0.43);
  border: groove;
  border-color: #00000080;
  border-radius: 50px;
  border-width: 1px;
  margin-bottom: 5px;
  filter:invert()
}

#remove:hover{
  border-color: red;
  border-width: 1.25px;
  transform: scale(1.1);
  cursor: pointer;
}



/* DETAILS PAGE */
#detailsAll{
  color: #cacff4;
  padding-bottom: 100px;
  padding-top: 50px;
}

#detailsArtist{
  cursor: pointer;
}

#detailsHome{
  cursor: pointer;
}

/* POST */

#postAll{
  color:rgb(226, 245, 255);
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  min-height: 1000px;
}

#postForm{
  display: grid;
  margin-top: 120px;
  margin-bottom: 100px;
}

.postLabel{
  margin-bottom: 5px;
}

#postHome{
  position: absolute;
  cursor: pointer;
}

#postImage{
  margin-bottom: 20px;
  height: 35px;
  font-size: large;
}

#postName{
  margin-bottom: 20px;
  height: 35px;
  font-size: large;
}

#postTitle{
  margin-bottom: 20px;
  height: 35px;
  font-size: large;
}

#postMedium{
  margin-bottom: 20px;
  height: 35px;
  font-size: large;
}

#postPriceSelector{
  margin-bottom: 10px;
  height: 35px;
  font-size: large;
}

#postPriceSelector:hover{
cursor: pointer;
}

#postPriceSelectorSet{
  margin-bottom: 30px;
  height: 35px;
  font-size: large;
}

#setPriceDiv{
  display: grid;
  margin-bottom: 20px;
}

#postContact{
  height: 35px;
  font-size: large;
}

#postSize{
  height: 35px;
  font-size: large;
}

#postDescription{
height: 100px;
font-family: Arial;
margin-bottom: 20px;
font-size: larger;
}

#postTags{
  height: 35px;
  font-size: large;
  margin-bottom: 5px;
}

#postTagsAdder{
  margin-bottom: 20px;
}

#postTagsAdder:hover{
  cursor: pointer;
  transform: scale(1.01)
}

#postSubmit:hover{
  cursor: pointer;
  transform: scale(1.01)
}

#willBeEmail{
  color: lightsalmon
}

/* SIGN IN */

#signInAll{
  color:rgb(226, 245, 255);
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  min-height: 100vh;
}

#signInAll{
  align-items: baseline;
  
}

 #signInHome{
  position: absolute;
  display: flex;
  margin-top: 10px ;
  
} 

#signInHome:hover{
  cursor: pointer;
}

#signInForm{
  display: grid;
  margin-bottom: 100px;
  justify-items: center;
}

#signInUsernameLabel{
margin-top: 150px;
}

#signInUsername{
  width: 406px;
  height: 20px;
  font-size:x-large;
  margin-bottom: 15px;
}

#signInPassword{
  width: 406px;
  height: 20px;
  font-size:x-large;
}

#signInButton{
margin-top: 10px;
width: 150px;
text-align: center;
}

#signInButton:hover{
  cursor: pointer;
  transform: scale(1.1);
}

#emailLink{
  color: #a1a7d6
}

/* PROFILE */

#profileAll{
  min-height: 100vh;
}

#profileName{
  color: white
}

#profileHome:hover{
  cursor: pointer;
}