.App {
  text-align: center;
}

#header{
  color: rgb(255, 255, 255);
  background-color: rgb(25, 0, 27);
  height: 50%;
  padding: 6.5%;
  
}

#inline{
  display: flex;
  align-items: center;
  
}

#searchpadding{
  margin-left: 10w;
  flex: 1;
}

#searchbar{
  
  font-family: Arial, Helvetica, sans-serif;
  width: 800px;
  color: black;
  background-color: white;
  text-align: left;
  font-size: 36px;
  border-radius: 5px;
  margin-right: 10px;
  font-weight: 400;
  box-shadow: 0.1vw 0.1vw 0.55vw rgba(222, 205, 205, 0.992);
  height: 50px;

}
